<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing Contract</h1>
  <h1><%= @contract.employee_id %></h1>
  <%= render "form", contract: @contract, employee: :employee %>
  <%= link_to "Show this contract", employee_contract_path(@contract), class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to contracts", employee_contracts_path(employee_id: @contract.employee_id), class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
