<div id="<%= dom_id bank %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= bank.name %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Branch:</strong>
    <%= bank.branch %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">IBAN:</strong>
    <%= bank.iban %>
  </p>
</div>
