<div class="flex justify-between items-center">
  <%= link_to "New bank", new_employee_bank_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
</div>
<div id="bank" class="min-w-full">
  <% unless bank.nil? %>
    <%= render bank %>
    <p>
      <%= link_to "Show this bank", employee_bank_path(bank), class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    </p>
  <% end %>
</div>